@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Libre+Bodoni&family=Open+Sans&family=Roboto&display=swap');

/* this is the stuff outside the maps */

body {
    margin: 0;
    padding: 0;
}
.content-container {
    max-width: 95%; 
    margin: 0 auto
}
h4 {
    font-family: 'Libre Bodoni', serif;
    font-weight: 300;
    font-size:22px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 900px;
}
h1 {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Libre Bodoni', serif;
    text-align: left;
    margin: auto;
    max-width: 900px;
}

p {
    font-family: 'Libre Bodoni', serif;
    font-weight: 500;
    text-align: left;
    font-size: 2em;
    max-width: 900px;
    margin: 1em auto 1em auto;
    font-size: 18px;
}
p.byline {
    font-weight: 300;
    font-size: 1.2em;
    margin: 0.5em auto 0.8em auto;}

a {background-color: rgb(255,255,0)}

/* Map 1  */
#map {
    width: 70%;
    height: 500px;
    margin: 5em auto;
}

/* legend 1 */
.title {
	background-color: #fff;
	opacity: 70%;
	border-radius: 1em;
	top: 5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font: .8em/.9em ,'Lato', sans-serif;
	line-height: 2.5em;
	padding: 1em 2em 0em;
	position: absolute;
	max-width: 25%;
	margin: 0em 5em;
	z-index: 100;
}
.title h5{
	opacity: 100%;
    font: 1.7em/3em ,'Lato', sans-serif;
    line-height: 2em;
}
.title p {
	line-height: 1.5em;
	opacity: 100%;
}
.title div span {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 10px;
}
.title hr {
	border-top: .2em dashed #404040;
	border-bottom: 0em;
	margin-top: .75em;
	margin-bottom: .75em;
}

/* legend objects */

.legend2 {
    font: 1em/1.5em 'Open Sans', sans-serif;
    padding: 1em 1em 1em 1em;
    position: relative;
    right: 10px;
    z-index: 100;
    opacity: 100%;
    background-color: #fff;
	opacity: 70%;
  }
  .legend2 h4 {
    margin: 0 0 0px;
    opacity: 100%
  }
  .legend2 p {
    padding-top: 0px;
    margin-top: 0px;
  }
  .legend2 div span {
    border-radius: 80%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: auto;
    display: inline-block;
    height: 14px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    width: 14px;
    opacity: 100%
  }

  .map-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Libre Bodoni', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    overflow: auto;
    border-radius: 3px;
    z-index:1;
  }